[submodule "external/netcipher"]
	path = external/netcipher
	url = https://github.com/guardianproject/netcipher.git
	branch = master

[submodule "external/loginpage"]
	path = external/loginpage
	url = https://github.com/sourcey/materiallogindemo.git
	branch = master